<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="17.1.1.0" targetFramework="net45" />
  <package id="bootstrap" version="4.4.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.IBM.DB2" version="6.1.0" targetFramework="net45" />
  <package id="IBM.Data.DB2.Core" version="1.2.2.100" targetFramework="net45" />
  <package id="jQuery" version="3.0.0" targetFramework="net45" />
  <package id="popper.js" version="1.16.0" targetFramework="net45" />
</packages>