

    .EU_TableScroll {
        max-height: 275px;
        overflow: auto;
        border: 1px solid #ccc;
    }

    .EU_DataTable {
        border-collapse: collapse;
        width: 100%;
    }

        .EU_DataTable tr th {
            background-color: #86E5F5; /*#3c454f;*/
            color: #020000;
            padding: 10px 5px 10px 5px;
            border: 1px solid #cccccc;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: normal;
            text-transform: capitalize;
        }

        .EU_DataTable tr:nth-child(2n+2) {
            background-color: #f3f4f5;
        }


        .EU_DataTable tr:nth-child(2n+1) td {
            background-color: #d6dadf;
            color: #454545;
        }

        .EU_DataTable tr td {
            padding: 5px 10px 5px 10px;
            color: #454545;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            border: 1px solid #cccccc;
            vertical-align: middle;
        }

            .EU_DataTable tr td:first-child {
                text-align: center;
            }

    .Header_td {
        font-family: Arial, Helvetica, sans-serif;
        font: bold;
        color: black;
        font-size: 14px;
        width: 100%;
    }
